<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %>
    <title>Sign-up</title>
    <style>
        .container{
            width: 400px;
        }
    </style>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container my-3">
        <h1 class="text-center">Sign-Up</h1>
        <form action="/user" method="post">
            <div class="form-outline mb-4">
                <input type="text" id="" class="form-control" name="name"/>
                <label class="form-label" for="form2Example1">Name</label>
            </div>
            
            <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" name="email"/>
                <label class="form-label" for="form2Example1">Email address</label>
            </div>
            
            <div class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control" name="password"/>
                <label class="form-label" for="form2Example2">Password</label>
            </div>
            
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
            </div>

            <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
                </button>
                
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>
                
                <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div>
        </form>
    </div>
    
    <%- include('./partials/scripts') %>
</body>
</html>